#root {
  max-width: 100%;
  min-width: 100%;
  width: 100vw;

  margin: 0 auto;
  text-align: center;
  
}

.read-the-docs {
  color: #e00f0f;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}